node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
lib/Assets/*.png
lib/Assets/*.jpg
lib/Assets/*.jpeg
logs/*
.cache/*
.local/*
*.log
*.tmp
attached_assets/*.png
attached_assets/*.jpg
attached_assets/*.jpeg